extends base.pug
block style 
    style 
        include ../static/css/index.css
        include ../static/about/css/about.css
block content 
    section.sec1
        h4 
            |You don't keep banker's house 
            br
            |NEITHER DO WE 
        p 
            |Tireless dedication energixes yu to accomplish more today than 
            br
            |yesterday. Being privately held and Wishconsin based, we work hard
            br
            |to build a long-lasting relationship with you to help you reach your 
            br
            | goals so you can enjoy your achievements
        a.learnmoreabout(href='#') Learn More &raquo;
        


block scripts 
    script(src='../static/script.js')