extends base.pug
block style 
    style 
        include ../static/css/index.css
        include ../static/about/css/features.css
block content 
    section.sec1
       img(src="/static/about/1099.jpg", alt="features image")

    section.sec2
       img(src="/static/about/features.jpg", alt="")
      
        


block scripts 
    script(src='../static/script.js')