doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title PDSD BANK
  link(rel='stylesheet', href='../static/css/index.css')
  script(src='https://kit.fontawesome.com/240dd65f9b.js', crossorigin='anonymous')

section#secOne
  .left
    .secOneDivOne
      h2.h-primary
        | Digital banking 
        br
        |  Made For Digital 
        br
        |  Users
      p.p-primary
        | We Are PDSD BANK Pvt. ltd. We Make Your Life 
        br
        |  Easy And Futue Batter by
        |                     Providing All your payments, 
        br
        | withdrawals, deposits and other account details are 
        br
        |                     available
        |                     at your fingertips.
    .SecOneDivTwo
      .textmore
        button.secOne-btn.signup.color Get It Now
        a.color(href='#') How it Work &rarr;
      .boxes
        .box
          h4 7k+
          p
            | Happy 
            br
            | Customer
        .box
          h4 22+
          p
            | Award 
            br
            |  Winning
        .box
          h4 26+
          p
            | Years Of 
            br
            |  Experience
section#sectwo
  img(src='../static/img/companies/google.png', alt='google')
  img(src='../static/img/companies/airbnb.png', alt='airbnb')
  img(src='../static/img/companies/asana.png', alt='asana')
  img(src='../static/img/companies/amazon.png', alt='amazon')
  img(src='../static/img/companies/slack.png', alt='slack ')
section#forbg.background
  section#secthree
    .secthreediv1
      .boxess
        img(src='../static/img/icons/debit-cards.png', alt='')
        p.color
          | Credit &amp; 
          br
          |  Debit Cards
      .boxess
        img(src='../static/img/icons/loan.png', alt='')
        p.color
          | Loans 
          br
          |  &amp; Credit
      .boxess
        img(src='../static/img/icons/museum.png', alt='')
        p.color
          | Among 
          br
          |  banking app
      .boxess
        img(src='../static/img/icons/money-management.png', alt='')
        p.color
          | Wealth 
          br
          | Management
    .secthreediv2
      h2.h-primary
        | The best banking 
        br
        |  services just for you
      p.p-primary
        | Digital marketing for banks is becoming increasingly essential, as it makes up 
        br
        |                     half of all bank&rsquo;s marketing budgets. At same time, many small banks struggle 
        br
        |  with staying
        |                     up-to-date with digital marketing trends in banking, often falling 
        br
        |  to the wayside behind
        |                     national banks with much larger budgets.
      a.learnmore.color(href='#') Learn More &raquo;
  section#sec4
    h2 You are our top priority
    p.p-primary
      | PDSD is incorporated in the state of Arkansas and is a federally chartered Savings Bank. We Value People More Than Profits. 
      br
      |  we help people, family and your beloved buseness to grow
    .boxesss
      .packet
        .icon
          i.fa.fa-lock
        h3 High Security
        p
          | We ensure top quality security 
          br
          | services for our all kind of user 
          br
          | for their account safty
          |                         and info
      .packet
        .icon
          i.fa.fa-user
        h3 User Friendly
        p
          | From design to visibility. this 
          br
          |  apps have proven their quality &amp; 
          br
          |  capture the interest
          |                         of our user.
      .packet
        .icon
          i.fa.fa-refresh
        h3 Lifetime Package
        p
          | You don&apos;t need to pay for update 
          br
          |  your package. our system do 
          br
          |  auto updates without charge.
  section#sec5
    h2.h-primary What Our Client Say
    .slideSection
      .leftarrow
        button.icon.left-arrow(onclick='goprev()')
          i.fa.arrow.fa-arrow-left
      .slide
        .slide-box
          img(src='../static/img/clients/aa.jpg', alt='')
          h2 Mr. Samparthik Chaudhury
          .slide-box-img
            img.star(src='../static/img/clients/PngItem_1382722.png', alt='')
          p
            | PDSD Bank Of India is located nearby in our area so i open my saving account from that bank ,customer service was good, I got my bank statement on time the bank agent informed me every details required. It is very easy and convenience for money deposits.
        .slide-box
          img(src='../static/img/clients/aaa.jpeg', alt='')
          h2 Mr. Riju Adhikari
          .slide-box-img
            img.star(src='../static/img/clients/PngItem_1382722.png', alt='')
          p
            | I have my salary account in PDSD, when I applied for the card I got my statement on time. I
            | am very much satisfied with the the account. Net banking is also functioning smooth and
            | convenient for me. There are some offer in the cards which was good.
        .slide-box
          img(src='../static/img/clients/aaaa.png', alt='')
          h2 Mrs. Debalina Das
          .slide-box-img
            img.star(src='../static/img/clients/PngItem_1382722.png', alt='')
          p
            | I am using PDSD bank saving account for the past 3years .Each transaction will be safe and
            | always secure .I am using net banking as well mobile banking service it is used for money
            | transfer and recharge only.There was no difficulties faced so far on using this saving account.
      .rightarrow
        button.icon.right-arrow(onclick='gonext()')
          i.fa.arrow.fa-arrow-right
    .download
      h2.h-primary
        | Get upto 7% off when making 
        br
        | transactions in our app
      p.p-primary Only available on ios platform now, or download demo android app?
      button.signup Download App
  div#about
    .about-box
      .logo-about
        img(src='../static/img/logo.png', alt='')
        h2 Online Banking
      ul.about-ul
        li Check balances on accounts and view records of your transactions.
        li Pay bills automatically each month with easy-to-set-up auto payment.
        li Download or print statements for your tax or personal records.
        li Access your account 24/7.
      .icons-about
        i.fa.fa-facebook.icon-about
        i.fa.fa-instagram.icon-about
        i.fa.fa-times.icon-about
        i.fa.fa-whatsapp.icon-about
    .about-box
      a(href='#') About
      .text-section
        h2 Contact Us
        h2 About Us
        h2 About Cards
    .about-box
      a(href='#') Useful Links
      .text-section
        h2 Internet Banking
        h2 ATM and branch locator
        h2 Help and support
    .about-box
      a(href='#') Other Links
      .text-section
        h2 COnditions of Access
        h2 Policies
        h2 Notices
    .about-box
      a(href='#') Other
      .text-section
        h2 Terms
        h2 Privacy
        h2 Cookies

  footer 
   h2 &copy; 2023-2024 All Rights Reserved By Sushobhan Dastidar
script(src='../static/script.js')